In [17]:
import pandas as pd
import numpy as np

In [18]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [19]:
df= pd.read_csv("gurgaon_properties.csv")

In [20]:
df.sample(n=3)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3857,2 BHK Flat in Sohna,flat,silverglades the melia,1.01,7000.0,1443.0,Super Built up area 1450(134.71 sq.m.)Carpet a...,2,2,3,study room,"H1202, Sohna, Gurgaon, Haryana",12.0,NaN,Mar 2024,"['Global City Centre Mall', 'Sohna Road', 'Wes...",The property will be ready early 2024 and read...,"['1 Wardrobe', '1 Fan', '1 Geyser', '1 Light',...","['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3019,4 BHK Flat in Sector 81 Gurgaon,flat,dlf the ultima,3.46,12047.0,2872.0,Super Built up area 2872(266.82 sq.m.),4,4,3+,servant room,"112, Sector 81 Gurgaon, Gurgaon, Haryana",10.0,East,0 to 1 Year Old,"['Huda Metro Station (Gurugram)', 'Vatika Town...",This 4 bhk apartment is available for sale in ...,"['9 Fan', '1 Fridge', '1 Exhaust Fan', '6 Geys...","['Centrally Air Conditioned', 'Security / Fire...","['Green Area5 out of 5', 'Construction4 out of..."
299,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,1.73,7554.0,2290.0,Super Built up area 2290(212.75 sq.m.),3,4,3+,servant room,"Sector 104 Gurgaon, Gurgaon, Haryana",15.0,North-East,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...",This 3 bhk apartment is available for sale in ...,NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of..."

In [21]:
df.shape

(3961, 20)

In [22]:
df.duplicated().sum()

0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [24]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [25]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,5.75,22184.0,2592.0,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4,4,2,servant room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Sector 106 Gurgaon,flat,paras dews,0.88,6353.0,1385.0,Super Built up area 1385(128.67 sq.m.)Built Up...,2,2,3+,not available,"Sector 106 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...",Paras dews is one of gurgaon's most sought aft...,"['2 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 92 Gurgaon,flat,raheja sampada,0.90,6569.0,1370.0,Super Built up area 1370(127.28 sq.m.),3,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",11.0,East,1 to 5 Year Old,"['Sapphire 93', 'JMS crosswalk', 'Reliance Sma...",We are the proud owners of this 3 bhk apartmen...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Safety3 out of 5', 'Lifestyle4 out of 5', 'E..."
3,14 Bedroom House for sale in DLF Phase 3,house,independent,3.20,59259.0,540.0,Plot area 60(50.17 sq.m.),14,14,3+,not available,"Three Side Corner, DLF Phase 3, Gurgaon, Haryana",6.0,West,1 to 5 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Rental income option for sale in 60 sq.Yds. Fu...,"['14 Bed', '14 Wardrobe', '1 Water Purifier', ...","['Water Storage', 'Park']","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,18 Bedroom House for sale in Suncity,house,independent,5.50,38194.0,1440.0,Plot area 160(133.78 sq.m.),18,18,3+,servant room,"11111, Suncity, Gurgaon, Haryana",4.0,South-West,1 to 5 Year Old,"['Sector 54 chowk metro station', 'Sector metr...",18 bed room newly built up in 160 yds plot is ...,"['1 Water Purifier', '22 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [26]:
df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.replace('sohna road', '').str.strip())

In [27]:
#df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.replace('sohna road', '').str.strip())

In [28]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,Sector 48,5.75,22184.0,2592.0,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4,4,2,servant room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Sector 106 Gurgaon,flat,paras dews,Sector 106,0.88,6353.0,1385.0,Super Built up area 1385(128.67 sq.m.)Built Up...,2,2,3+,not available,"Sector 106 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...",Paras dews is one of gurgaon's most sought aft...,"['2 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 92 Gurgaon,flat,raheja sampada,Sector 92,0.90,6569.0,1370.0,Super Built up area 1370(127.28 sq.m.),3,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",11.0,East,1 to 5 Year Old,"['Sapphire 93', 'JMS crosswalk', 'Reliance Sma...",We are the proud owners of this 3 bhk apartmen...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Safety3 out of 5', 'Lifestyle4 out of 5', 'E..."
3,14 Bedroom House for sale in DLF Phase 3,house,independent,DLF Phase 3,3.20,59259.0,540.0,Plot area 60(50.17 sq.m.),14,14,3+,not available,"Three Side Corner, DLF Phase 3, Gurgaon, Haryana",6.0,West,1 to 5 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Rental income option for sale in 60 sq.Yds. Fu...,"['14 Bed', '14 Wardrobe', '1 Water Purifier', ...","['Water Storage', 'Park']","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,18 Bedroom House for sale in Suncity,house,independent,Suncity,5.50,38194.0,1440.0,Plot area 160(133.78 sq.m.),18,18,3+,servant room,"11111, Suncity, Gurgaon, Haryana",4.0,South-West,1 to 5 Year Old,"['Sector 54 chowk metro station', 'Sector metr...",18 bed room newly built up in 160 yds plot is ...,"['1 Water Purifier', '22 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [29]:
df['sector'] = df['sector'].str.lower()

In [30]:
df['sector'].value_counts().sum()

3961

In [31]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [36]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')


df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [33]:
#df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')

In [37]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [38]:
df['sector'].value_counts()

sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 81                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 70                      53
sector 37c                     53
sector 43                      53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 112                     24
sector 57                      24
sector 33                      23
sector 105                     23
sector 14                      23
sector 88a                     23
sector 111                     22
sector 67a                     22
sector 24                      22
sector 11                      21
sector 82a                     20
sector 3                       20
sector 22                      20
sector 47                      19
sector 78                      19
sector 63a                     18
gwal pahari                    18
sector 74                      18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 60                      15
sector 63                      15
sector 1 manesar               14
sector 52                      14
sector 76                      14
sector 55                      14
sector 53                      14
sector 6                       13
sector 36a                     13
sector 9                       13
sector 46                      13
sector 4 phase 2               13
sector 31                      12
sector 38                      12
sector 39                      12
sohna road road                12
sector 93                      12
sector 3 phase 3 extension     11
sector 9a                      11
sector 1a manesar              10
sector 13                      10
sector 41                       9
sector 45                       9
manesar                         9
sector 95a                      9
sector 3 phase 2                9
sector 89 a                     8
sector 23                       8
c block sector 43               8
sector 2 extension              8
sector 40                       8
sector 17                       8
sector 8                        8
dwarka expressway               8
sector 10a                      8
sector 59                       8
sector 36 sohna road            7
sector 51                       7
sector 58                       7
sector 1                        6
sector 5                        6
sector 30                       5
sector 80                       5
new sector 2                    5
sector 23a                      5
sector 3a                       4
sector 21                       4
sector 12a                      4
sector 36                       4
new                             4
sector 88b                      3
sector 17b                      3
a block sector 43               3
sector 110 a                    3
sector 17a                      3
sector 73                       3
sector 27                       3
sector 15                       3
patel nagar                     3
b block sector 43               3
maruti kunj                     3
Name: sector, dtype: int64

In [ ]:
##df['sector'] =df['sector'].str.split(' ').str.get(1).str.replace('sohna road','').str.strip()

In [39]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [40]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
706,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2931,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3164,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3663,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [41]:
df.loc[706,'sector'] = 'sector 37'
df.loc[2931,'sector'] = 'sector 92'
df.loc[3164,'sector'] = 'sector 90'
df.loc[3663,'sector'] = 'sector 76'

In [42]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
258,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
1081,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1122,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2527,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
3571,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,34.00,12592.0,27001.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [43]:
df.loc[[258,1081,1122,2527,3571],'sector'] = 'sector 110'

In [44]:

df.shape

(3797, 21)

In [45]:

df.duplicated().sum()

0

In [46]:

df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,sector 48,5.75,22184.0,2592.0,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4,4,2,servant room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Sector 106 Gurgaon,flat,paras dews,sector 106,0.88,6353.0,1385.0,Super Built up area 1385(128.67 sq.m.)Built Up...,2,2,3+,not available,"Sector 106 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...",Paras dews is one of gurgaon's most sought aft...,"['2 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 92 Gurgaon,flat,raheja sampada,sector 92,0.90,6569.0,1370.0,Super Built up area 1370(127.28 sq.m.),3,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",11.0,East,1 to 5 Year Old,"['Sapphire 93', 'JMS crosswalk', 'Reliance Sma...",We are the proud owners of this 3 bhk apartmen...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Safety3 out of 5', 'Lifestyle4 out of 5', 'E..."
3,14 Bedroom House for sale in DLF Phase 3,house,independent,sector 24,3.20,59259.0,540.0,Plot area 60(50.17 sq.m.),14,14,3+,not available,"Three Side Corner, DLF Phase 3, Gurgaon, Haryana",6.0,West,1 to 5 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Rental income option for sale in 60 sq.Yds. Fu...,"['14 Bed', '14 Wardrobe', '1 Water Purifier', ...","['Water Storage', 'Park']","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,18 Bedroom House for sale in Suncity,house,independent,sector 54,5.50,38194.0,1440.0,Plot area 160(133.78 sq.m.),18,18,3+,servant room,"11111, Suncity, Gurgaon, Haryana",4.0,South-West,1 to 5 Year Old,"['Sector 54 chowk metro station', 'Sector metr...",18 bed room newly built up in 160 yds plot is ...,"['1 Water Purifier', '22 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [47]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [48]:
df.duplicated().sum()

121

In [49]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)